@media screen and (max-width: 991px) {
    .container {
        flex-direction: column;
        row-gap: 2rem;
        &.thank-you {
            & + .container {
                & div[class^="col-"] {
                    text-align: center;
                }
            }
        }
    }
    .col-4 {
        flex: 0 0 100%!important;
        width: 100%;
    }
    .col-12 {
        width: 100%;
    }
    .btn {
        font-size: 2rem!important;
    }
    output {
        width: 100%!important;
    }
    .input-range input[type=range] {
        width: calc(100% - 20px)!important;
        &#size-property-input + .ft-value {
            right: 20px!important;
        }
        & + .ft-value {
            right: 20px;
        }
    }
    fieldset {
        display: flex;
        flex-direction: column;
        row-gap: .5rem;
        & legend {
            margin-bottom: 1.75rem;
        }
        & label {
            margin-left: 0!important;
        }
    }
    .input-container {
        flex-direction: column;
        row-gap: 2rem;
    }
    .tooltip .tooltip-text {
        width: 110px!important;
    }
    .local-result span {
        font-size: 3rem!important;
    }
}