@use 'variables' as *;
@use 'mediaqueries' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: $font-size;
}

body {
    background: #fff;
    font-family: $title-font;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $title-font;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
    & *[class^="col-"] {
        padding-left: 2rem;
        padding-right: 2rem;
        height: fit-content;
    }
}

.flex-direction-column {
    flex-direction: column;
}
.justify-content-end {
    justify-content: end;
}
.justify-content-center {
    justify-content: center;
}
.col-3 {
    flex: 0 0 25%;
}
.col-4 {
    flex: 0 0 33.3333333%;
}
.col-8 {
    flex: 0 0 66.6666666%;
}
.col-12 {
    flex: 0 0 100%;
}
.btn {
    padding: 3.25rem 4rem;
    display: inline-block;
    min-width: 35rem;
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    color: white;
    cursor: pointer;
    text-decoration: none;
    border: none;
    &__primary {
        background: $primary-color;
        border-radius: 2rem;
        &:hover, &:focus {
            background: #da560a;
        }
    }
    &__secondary {
        background: $secondary-color;
        border-radius: 5px;
        &:hover, &:focus {
            background: #525151;
        }
    }
}
.align-items-center {
    align-items: center;
}

h1 {
    font-size: 3.2rem;
    text-align: center;
    margin: 8rem 0 2rem;
}
p {
    font-size: 1.6rem;
    line-height: 1.4;
    text-align: center;
}
form {
    margin-top: 6rem;
}
legend, label {
    font-size: 1.4rem;
    font-family: $title-font;
    font-weight: 700;
    display: block;
    margin-bottom: 5px;
}
label {
    cursor: pointer;
}

fieldset {
    border: none;
    & label {
        display: inline-block;
        font-family: $title-font;
        font-weight: normal;
        margin-left: 2rem;
        &:first-of-type {
            margin-left: 0;
        }
    }
}
input[type="number"], output {
    display: block;
    accent-color: $primary-color;
    padding: 4px 8px;
    border: 4px solid $primary-color;
    font-size: 1.6rem;
    text-align: center;
    border-radius: 12px;
    width: 274px;
    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
        opacity: 1;
        cursor: pointer;
    }
}
.tooltip {
    display: inline-block;
    margin-left: .5rem;
    font-weight: 400;
    position: relative;
    & .tooltip-text {
        position: absolute;
        width: max-content;
        z-index: 9999;
        left: 30px;
        background-color: $secondary-color;
        color: white;
        font-family: $body-font;
        font-size: 1.2rem;
        padding: .8rem;
        &:before {
            content: "";
            z-index: 9999;
            display: block;
            width: 0px;
            height: 0px;
            border-width: 5px 10px 5px;
            border-color: transparent $secondary-color transparent transparent;
            border-style: solid;
            position: absolute;
            left: -19px;
            top: 6px;
        }
    }
}
.input-container {
    display: flex;
    & > .input-range {
        flex: 0 0 25%;
        height: fit-content;
        & output {
            width: 224px;
        }
        & input[type="range"] {
            width: 205px;
            left: 10px;
        }
        & .ft-value {
            right: 42px;
        }
    }
}
.input-range {
    position: relative;
    & input[type="range"] {
        position: absolute;
        bottom: 0;
        left: 9px;
        cursor: pointer;
        accent-color: $primary-color;
        -webkit-appearance: none; /* Chrome, Opera, Safari, Edge */
        appearance: none;
        background: #FFDDAA;
        width: 255px;
        height: 4px;
        ::-webkit-slider-runnable-track {
            /* Add your track width/height/color styles here */
            height: 4px;
            background: transparent;
        }
        &#size-property-input {
            + .ft-value {
                right: 41px;
            }
        }
    }
    & .ft-value {
        position: absolute;
        right: 63px;
        bottom: 10px;
        font-size: 1.6rem;
    }
}
input[type="radio"] {
    accent-color: $primary-color;
    margin-right: 5px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.mb-2 {
    margin-bottom: 2rem;
}
.mb-4 {
    margin-bottom: 4rem;
}
.mt-4 {
    margin-top: 4rem;
}
.mt-6 {
    margin-top: 6rem;
}
.mt-7 {
    margin-top: 7rem;
}
.mt-8 {
    margin-top: 8rem;
}
.thank-you {
    & p {
        max-width: 69rem;
        margin: 0 auto;
    }
}
small {
    display: block;
    font-size: 1.4rem;
    max-width: 63rem;
    margin: 0 auto 6rem;
    color: #1e1e1e;
    text-align: center;

}
.local-result {
    padding: 1.5rem 2.5rem;
    background: $primary-color;
    color: white;
    text-align: left;
    display: flex;
    flex-direction: column;
    row-gap: 0rem;
    &__end {
        background: #F4A100;
        border-radius: 20px;
    }
    & strong {
        font-size: 2.4rem;
        font-family: $title-font;
        font-weight: bold;
    }
    & span {
        font-size: 4rem;
        font-family: $body-font;
        font-weight: 400;
    }
}
